<div class="main-div">
    <h1 class="center-h1">Recent Post!</h1>
  {{#each post}}
    <div class="post-div">
      <p class="pd1">{{user.username}} posted: </p>
      <p class="pd2">{{title}}</p>
      <p class="pd3">{{format_date created_at}}</p>
      <a href="/main/post/{{id}}">{{comments.length}}
        {{format_plural "comment" comments.length}}</a>

    </div>
  {{/each}}
</div>